<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1090041780006-vtb3eor3un36belh7295q2pvq4nfotvq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090041780006-vtb3eor3un36belh7295q2pvq4nfotvq</string>
	<key>API_KEY</key>
	<string>AIzaSyAne-Tqdes8KHBVurmGbKm0q6sZUGOQQLk</string>
	<key>GCM_SENDER_ID</key>
	<string>1090041780006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prerak.homeAutomation</string>
	<key>PROJECT_ID</key>
	<string>homeautomation-36f69</string>
	<key>STORAGE_BUCKET</key>
	<string>homeautomation-36f69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090041780006:ios:7cb78819a49a7de35413e7</string>
</dict>
</plist>